<h2>Products</h2>

<ul *ngFor="let product of products">
  <li>
    <a [title]="product.name + ' ' + 'details'">
      {{ product.name }}
    </a>

    <p *ngIf="product.description">
      {{ product.description }}
    </p>

    <button type="button" (click)="share()">Share</button>

    <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
  </li>
</ul>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
